[submodule "tests"]
	path = tests/testdata
	url = https://github.com/ethereum/tests
	shallow = true
[submodule "crosschain/cosmos/cosmos-sdk"]
	path = crosschain/cosmos/cosmos-sdk
	url = https://github.com/cube-network/cosmos-sdk
	branch = feature_cube_support
[submodule "crosschain/cosmos/ibc"]
	path = crosschain/cosmos/ibc
	url = https://github.com/cube-network/ibc
	branch = feature_cube_support
